/* Copyright 2009, Red Hat, Inc.
 *
 * Portions adapted from Mx's data/style/default.css
 *   Copyright 2009 Intel Corporation
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU Lesser General Public License,
 * version 2.1, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
 */

/* GNOME Shell lili-sakura- designed by Chepecalos */

/* Colores base gradientes
 * start: #9370D8  147,112,216; azul violeta
 *   end: #800080  128,0,128; morado
 */

stage {
    font-family: cantarell, sans-serif;
}

/* links */
.shell-link {
    color: #0000ff;
    text-decoration: underline;
}

.shell-link:hover {
    color: #0000e0;
}

.label-shadow {
    color: rgba(0,0,0,0.5);
}

StScrollBar
{
  color: #9370D8;
  padding: 0px;
}

StScrollView.vfade
{
  -st-vfade-offset: 68px;
}

StScrollView StScrollBar
{
  min-width: 6px;
  min-height: 6px;
}


StScrollBar StBin#trough {
    background-color:  #444;
    border: 1px solid #222;
    border-radius: 6px;
}

StScrollBar StButton#vhandle
{
     background-color: #d9d9d9;
    border: 1px solid #ddd;
    border-radius: 6px;
}

StScrollBar StButton#hhandle
{
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover
{
    background-color: #ddd;
}

StTooltip StLabel {
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid rgba(0,0,0,0.4);
    color: #333;
    padding: 2px 12px;
    font-size: 0.84em;
    font-weight:bold;
    text-align: center;
}
/* PopupMenu */

.popup-menu-boxpointer {
    -border: 4px;
    -arrow-border-color: rgba(128,0,128,0.7);
    -arrow-border-radius: 6px;
    border-image: url("popback.png")0 0 0 0 repeat;
    -arrow-background-color: rgba(255,255,255,0.9);
    -arrow-border-color: rgba(17,18,21,0.6);
    -arrow-border-width: 2px;
    -arrow-base: 30px;
    -arrow-rise: 15px;
}

.popup-menu {
   color: #2d3036;
   font-size: 10pt;
   min-width: 150px;
}

.popup-submenu-menu-item:open {
    color: #ff7a2a;
    font-weight:bold;
}

.popup-sub-menu {
    color: #eee;
    background: #222;
    border: 1px rgba(0,0,0,0);
   border-radius: 8px;
}

.popup-sub-menu .popup-menu-item:ltr {
    padding-right: 0em;
}

.popup-sub-menu .popup-menu-item:rtl {
    padding-left: 0em;
}

.popup-sub-menu StScrollBar {
    padding: 4px;
}

.popup-sub-menu StScrollBar StBin#trough {
    border-width: 0px;
}

.popup-sub-menu StScrollBar StBin#vhandle {
    background-color: #4c4c4c;
    border-width: 0px;
}

.popup-combo-menu {
    background-color:  rgba(255,165,0,0.5);
    padding: 1em 0em;
    color: #333;
    font-size: 8.5pt;
    border: 3px rgba(17,18,21,0.6);
    border-radius: 9px;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
    padding: 1em 0em;
}

.popup-menu-item {
    padding: .4em 1.75em;
    spacing: 1em;
}

.popup-menu-item:active {
    background-color:rgba(255,165,0,0.5);
    border-radius:10px;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.popup-menu-item:insensitive {
    color: #555;
}

.popup-image-menu-item {
}

.popup-combobox-item {
    spacing: 1em;
}

.popup-separator-menu-item {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(90,90,90,1.0);
    background-gradient-end: rgba(3,3,3,0.8);
    height: 0.1em;
}

.popup-alternating-menu-item:alternate {
    color: #ff7a2a;
    font-weight:bold;
}

.popup-slider-menu-item {
   height: 1em;
    min-width: 15em;
    -slider-height: 0.3em;
    -slider-background-color: #999;
    -slider-border-color: #fff;
    -slider-active-background-color: #ff7a2a;
    -slider-active-border-color: rgba(255,165,0,0.5);
    -slider-border-width: 1px;
    -slider-handle-radius: 0.6em;
    border-radius: 6px;
}

.popup-device-menu-item {
    spacing: .5em;
}

.popup-inactive-menu-item {
    font-weight: normal;
    color: #444;
}

.popup-subtitle-menu-item {
    font-weight: bold;
}

.popup-menu-icon {
    icon-size: 15px;
}

/* Switches (to be used in menus) */
.toggle-switch {
    width: 60px;
    height: 24px;
}

.toggle-switch-us {
    background-image: url("toggle-off-us.png");
}
.toggle-switch-us:checked {
    background-image: url("toggle-on-us.png");
}

.toggle-switch-intl {
    background-image: url("toggle-off-intl.png");
}
.toggle-switch-intl:checked {
    background-image: url("toggle-on-intl.png");
}

.nm-menu-item-icons {
    spacing: .5em;
}

/* Shared button properties */

.dash-search-button, .notification-button, .notification-icon-button,
.hotplug-notification-item, .hotplug-resident-eject-button,
.modal-dialog-button {
    background-gradient-direction: vertical; 
    background-gradient-start: #ececec;
    background-gradient-end: #d9d9d9;
    border-radius: 16px;
    border: 1px solid #aaa;
    box-shadow: inset 0px 0px 1px 0px #fff;
    color: #2e3436;
    text-shadow: 1px 1px 1px 1px #fff;
}

.dash-search-button:hover, .notification-button:hover,
.notification-icon-button:hover, .hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover, .modal-dialog-button:hover {
    color: #000;
    background-gradient-direction: vertical; 
    background-gradient-start: #f6f6f6;
    background-gradient-end: #e6e6e6;
}

.dash-search-button:selected, .notification-button:focus,
.notification-icon-button:focus, .hotplug-notification-item:focus,
.modal-dialog-button:focus {
    color: #000;
}

.dash-search-button:active, .dash-search-button:pressed,
.notification-button:active, .notification-icon-button:active,
.hotplug-notification-item:active, .hotplug-resident-eject-button:active,
.modal-dialog-button:active, .modal-dialog-button:pressed {
    background-gradient-direction: vertical; 
    background-gradient-start: #b1b1b1;
    background-gradient-end: #c4c4c4;
    box-shadow:   inset 0.5px 2px rgba(0,0,0,0.2);
}

/* Panel */
/*Panel superior del entorno */
#panel {
    border-image: url("backPanel.png") 0 2560 0 0 repeat;
    background-image: url("middle250x25.png");
    color: rgba(22,22,22,0.8);
    font-size: 10.5pt; 
    height: 1.86em;
}

#panelRight{
	border-left: 40px;
	border-image: url("rightPanel.png") 0 0 0 0  repeat;
}

#panelLeft{
	border-right: 40px;
    border-image: url("leftPanel.png") 0  0 0 0 repeat;
}

#panelLeft, #panelCenter, #panelRight {
    font-weight: bold;
}

#appMenu {
    spacing: 9px;
}

.panel-button #appMenuIcon {
    app-icon-bottom-clip: 1px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    app-icon-bottom-clip: 2px;
}

.app-menu-icon {
    width: 24px;
    height: 24px;
}

.panel-button #appMenuIcon {
        width: 0px;
        height: 0px;
}

.panel-button {
    -natural-hpadding: 13px;
    -minimum-hpadding: 10px;
    color: #eee;
    border-radius: 5px;
    text-shadow:  0px 1px 1px 0px #333;
    transition-duration: 100;
}

.panel-button:hover {
    color: rgba(255,255,255,0.9) 0px 0px 0px;
    text-shadow: rgba(1,1,0,0.9) 1px 0px 0px;
}/*botones superir cuado, super pongo el raton*/

.panel-button:active{
    color: rgba(1,217,240,0.9) 0px 0px 0px;
    text-shadow: rgba(0,0,0,0.9) 1px 0px 0px;
}
/*buttons on the top panel*/
.panel-button:active,
.panel-button:overview,
.panel-button:focus {
    text-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.9);
     border-image: url("press.png");
}

.panel-status-button:active,
.panel-status-button:checked,
.panel-status-button:focus {
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
    icon-shadow: black 0px 2px 2px;
}


.panel-menu {
    -boxpointer-gap: 4px
}

/* User Menu */

#panelUserMenu {
    spacing: 4px;
}

.status-chooser {
    spacing: .4em;
}

.status-chooser .popup-menu-item,
.status-chooser-combo .popup-menu-item {
    padding: .4em;
}

.status-chooser-user-icon {
    border: 2px solid #8b8b8b;
    border-radius: 5px;
    width: 48pt;
    height: 48pt;
}

.status-chooser-user-icon:hover {
    border: 2px solid #bbbbbb;
}

.status-chooser-user-name {
    font-weight: bold;
    font-size: 1.3em;
    min-width: 120pt;
}

.status-chooser-combo {
    border: 1px solid transparent;
}

.status-chooser-combo.popup-combo-menu {
    background-color: rgba(222,222,222,1);
    padding: .4em 0em;
    border-radius: 4px;
    border: 1px solid #5f5f5f;
    color: #222;
    font-size: 9.5pt;
}

.status-chooser-status-item,
.status-chooser-combo .popup-combobox-item {
    spacing: .4em;
}

.system-status-icon {
    icon-size: 13px;
}

/* Overview */
/*background color*/
/*Clase del fondo del shell*/
#overview {
    spacing: 20px;
    background-color: rgba(143, 0, 255,0.2);/*color de fondo shell*/
    background-image: url("pointer.png");/*Imagen de la parte superior*/
    background-position: 0px 25px;/*Pocision inicial de la imagen*/
    border: 1px;
    border-image: url("overview.png")  5000 5000 5000 5000;/*fondo del tema*/
}

.window-caption {
    color: white;
    spacing: 25px;
}

.workspace-controls {
    visible-width: 100px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
    border-image: url("workspaceimage.png"); 
    border: 30px solid rgba(0,0,0,0.1);
}

.workspace-thumbnails-background:rtl {
    border-radius: 17px;
    border-right: 1px;
    border-left: 1px;
    border-radius: 0px 9px 9px 0px;
}

.workspace-thumbnails {
    spacing: 15px;
}

.workspace-thumbnail-indicator {
    outline: 5px solid #6b007b;
    border-image: url("thumbnail.png"); 
    border: 30px solid rgba(0,0,0,1);
}

.window-caption {
    border-image: url("wcaption.png"); 
	border: 6px;
    font-size: 12 pt;
    font-weight:bold;
    padding: 0px 35px 0px 35px;
}

.window-close {
    background-image: url("close-window.png");
    height: 34px;
    width: 34px;
    -shell-close-overlap: 20px;
    -st-background-image-shadow: -2px 2px 6px rgba(0,0,0,0.5);
}

.window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

/* Dash */

#dash {
    font-size: 9pt;
    padding: 2px 0px;
    background-gradient-direction: vertical; 
    background-gradient-start: rgba(147,112,216,0.8);
    background-gradient-end: rgba(128,0,128,0.5);
    border: 5px rgba(128,0,128,0.7);
    border-radius: 17px;
    box-shadow: outset 0px 2px 4px 2px rgba(0,0,0,0.2);
}

#dash:rtl {
    border-left: 1px;
    border-right: 0px;
    border-radius: 17px;
}

#dash:empty {
    height: 100px;
    width: 60px;
}

.dash-placeholder {
    background-image: url("dash-placeholder.png");
    height: 27px;
    width: 48px;
}

#viewSelector {
    spacing: 1em;
    font-size: 10pt;
}

#viewSelectorTabBar {
    padding: 1em;
}

#searchArea {
    padding: 0px 24px;
}

#searchEntry {
    padding: 4px 12px;
    border-radius: 8px;
    color:  #d8d8d8;
    background-gradient-direction: vertical;
    background-gradient-start: #9370D8;
    background-gradient-end:#800080;
    width: 250px;
    height: 24px;
    transition-duration: 0;
    box-shadow:  outset 0px 1px 2px 1px rgba(0,0,0,0.4);
}


#searchEntry:hover {
    color: #ddd;
    text-shadow:  0px 1px 1px 0px #ddd;
    background: #eaeaea;
}

#searchEntry:focus {
    color: #d8d8d8;
    font-weight: bold;
}

.search-entry-icon {
    icon-size: 1.4em;
    color: #ffffff;
}

/* View Tabs */

.view-tab-title {
    color: #ffffff;
    height: 24px;
    text-shadow:  1px 1px 1px 1px #222;
    padding: 0px 24px ;
    
}

.view-tab-title:hover {
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
}

.view-tab-title:selected {
    background-gradient-direction: vertical;
    background-gradient-start: #111111;
    background-gradient-end: rgba(128,0,128,0.1);    
     border-radius: 5px 5px 4px 4px;
     border-top: 0.5px solid rgba(255,255,255,0);
     box-shadow: inset  0px -1px 0px 0px rgba(255,255,255, 0.4);
}

#viewSelectorTabBar {
    padding: 3px;
    border-radius: 8px;
    background-gradient-direction: vertical;
    background-gradient-start: #9370D8;
    background-gradient-end:#800080;
    color: #eee;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.4);
}

#searchResults {
    padding: 20px 10px 10px 10px;
    spacing: 18px;
}

#searchResultsContent {
    padding-right: 20px;
    spacing: 36px;
}

#searchResultsContent:rtl {
    padding-right: 0px;
    padding-left: 20px;
}

.search-statustext{
    color:#4876FF;
    font-size:12pt;
    font-weight:bold;
}


.search-section-header {
    color: #ffffff;
    font-size:10pt;
    font-weight:bold;
    text-decoration: underline;
    background-color: rgba(128,0,128,0.7);
    border: 7px  rgba(128,0,128,0.9);
    border-bottom:0px;
    border-radius: 20px 20px 0px 0px;
    box-shadow:  inset 0px 1px 2px 1px rgba(0,0,0,0.2);
    padding: 6px;
    
}

.search-section-results {
    padding: 4px 0px;
    background-gradient-direction: vertical;
    background-gradient-start: #9370D8;
    background-gradient-end:#ffffff;
    border: 7px  rgba(128,0,128,0.9);
    border-top:0px;
    border-radius: 0px 0px 20px 20px;
    box-shadow:  inset 0px 1px 2px 1px rgba(0,0,0,0.2);
    padding: 6px;
}

.search-section-list-results {
    spacing: 4px;
}

.results-container {
    spacing: 4px;
}

.search-providers-box {
    spacing: 12px;
}

.dash-search-button {
	border: 2px solid rgba(128,0,128,0.9);
    background-gradient-direction: vertical; 
    background-gradient-start: #9370D8 ;
    background-gradient-end: #800080;
    border-radius: 16px;
    height: 35px;
    width: 200px;    
    color: #ffffff;
    font-weight:bold;
    box-shadow: inset 0px 0px 1px 0px #fff;

    
}

.dash-search-button:hover {
    color: #000;
    background-gradient-direction: vertical; 
    background-gradient-start: #f6f6f6;
    background-gradient-end: #800080;
}

.dash-search-button:selected{
}

.dash-search-button:active {
}


/* Apps */

.icon-grid {
    spacing: 30px;
    -shell-grid-item-size: 96px;
}

.contact-grid {
    spacing: 20px;
    -shell-grid-item-size: 272px; /* 2 * -shell-grid-item-size + spacing */
}

.icon-grid .overview-icon {
    icon-size: 64px;
}

.all-app {
    padding: 16px 25px 16px 16px;
    spacing: 20px;
    background-gradient-direction: vertical;
    background-gradient-start:rgba(147,112,216,0.8);
    background-gradient-end: rgba(128,9,128,0.5);
    border: 7px  rgba(128,0,128,0.8);
    border-radius: 20px;
    box-shadow:  inset 0px 1px 2px 1px rgba(0,0,0,0.4);
}

.all-app:rtl {
    padding-right: 16px;
    padding-left: 25px;
}

.app-filter {
    font-size: 10pt;
    font-weight: bold;
    height: 2.85em;
    color: #222;
    width: 200px;
}

.app-filter:hover {
    color: #222;
    text-decoration:underline;
}

.app-filter:selected {
    color: #4169E1;
    text-decoration: underline;
    background-image: url("calendar-arrow-left.png");
    background-position: 180px 10px;
}

.app-filter:selected:rtl {
    background-image: url("calendar-arrow-right.png");
    background-position: 10px 10px;
}

.app-filter:focus {
    outline: 1px solid #aaa;
}

.dash-item-container > .app-well-app {
    padding: 4px 8px;
}

.remove-favorite-icon {
    color: #a0a0a0;
}

.remove-favorite-icon:hover {
     color: #333;
    icon-shadow: black 0px 2px 2px;
}

.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
   border-radius: 4px;
    padding: 4px;
    font-size: 8pt;
    font-weight: bold;
    color: #333;
    transition-duration: 100;
    text-align: center
}

/* Contacts */

.contact {
    width: 252px; /* Same width as two normal results + spacing */
    height: 118px; /* Aspect ratio = 1.75. Normal US business card ratio */
    border-radius: 4px;
    padding: 1px;
    border: 1px rgba(0,0,0,0);
    transition-duration: 100;
}

.contact-content {
    border-radius: 2px;
    padding: 2px;
    width: 232px;
    height: 84px;
    background-color: white;
    color: black;
    text-align: center;
}

.contact-icon {
  border-radius: 4px;
}

.contact-details {
  padding: 2px;
}

.contact-details-alias {
  font-size: 9.5pt;
  padding-bottom: 5px;
}

.contact-details-status {
  font-size: 8.5pt;
}

.contact-details-status-icon {
  padding-right: 2px;
}

.contact:hover {
  background-color: rgba(128,0,128,0.);
    transition-duration: 100;
}

.app-well-app.running > .overview-icon {
    border-image: url("dashbutton.png") 0 0 0 0 repeat;
    background: rgba(255,0,0,0.8);
    font-weight:bold;
}

.contact:selected,
.app-well-app:selected > .overview-icon,
.search-result-content:selected > .overview-icon {
    border-image: url("dashbutton.png") 0 0 0 0 repeat;
    transition-duration: 100;
}

.app-well-app:hover > .overview-icon,
.remove-favorite:hover > .overview-icon,
.search-result-content:hover > .overview-icon {
    border-image: url("dashbuttonsh.png") 0 0 0 0 repeat;
    border-radius: 4px;
    transition-duration: 100;
}

.contact:focus,
.app-well-app:focus > .overview-icon,
.search-result-content:focus > .overview-icon {
    border: 1px solid #800080;
}

.app-well-menu {
    font-size: 9pt;
}

/* LookingGlass */

#LookingGlassDialog
{
  background-color: rgba(0,0,0,0.85);
  spacing: 4px;
  padding: 4px;
  border: 2px solid grey;
  border-radius: 4px;

  color: #88ff66;
}

#LookingGlassDialog > #Toolbar
{
  border: 1px solid grey;
  border-radius: 4px;
}

#LookingGlassDialog .labels {
  spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
  padding: 2px;
}

#LookingGlassDialog .notebook-tab:hover {
  color: #00ff00;
}

#LookingGlassDialog .notebook-tab:selected {
  border: 1px solid #88ff66;
  border-radius: 4px;
  padding: 5px;
}

#LookingGlassDialog .lg-inspector-title {
    font-weight: bold;
    padding-bottom: 8px;
}

.lg-dialog StLabel
{
  color: #88ff66;
}

.lg-dialog StEntry
{
  color: #88ff66;
  selection-background-color: #88ff66;
  selected-color: black;
}

.lg-obj-inspector-title
{
  spacing: 4px;
}

.lg-obj-inspector-button
{
  border: 1px solid #88ff66;
  padding: 4px;
  border-radius: 4px;
}

.lg-obj-inspector-button:hover
{
  border: 1px solid #00ff00;
}

.lg-dialog .shell-link
{
  color: #88ff66;
}

.lg-dialog .shell-link:hover
{
  color: #00ff00;
}

#LookingGlassDialog StBoxLayout#EvalBox
{
  padding: 4px;
  spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea
{
  spacing: 4px;
}

#lookingGlassExtensions {
    padding: 4px;
}

.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}

.lg-extension {
    border: 1px solid #6f6f6f;
    border-radius: 4px;
    padding: 4px;
}

.lg-extension-name {
    font-weight: bold;
}

.lg-extension-actions {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid grey;
    border-radius: 4px;
    padding: 6px;
    color: #88ff66;
}

/* Calendar popup */

#calendarEventsArea {
    /* this is the width of the second column of the popup */
    min-width: 400px;
}

.calendar-vertical-separator {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.6);
    background-gradient-end: rgba(3,3,3,0.5);
    width: 0.1em;
}

#calendarPopup {
    border-radius: 5px;
    background: rgba(0,255,0,0.9);
    border: 1px solid rgba(128,128,128,0.45);
    color: #777;
}

#calendarPopup .calendar {
    padding: 10px;
}

.calendar {
    padding: .4em 1.75em;
    spacing-rows: 0px;
    spacing-columns: 0px;
}

.calendar-month-label {
    color: #800080;
    font-size: 10pt;
    padding: 2px;
    font-weight: bold;
}

.calendar-change-month-back {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-left.png");
}

.calendar-change-month-back:rtl {
    background-image: url("calendar-arrow-right.png");
}

.calendar-change-month-back:hover {
    background-image: url("calendar-arrow-left.png");
    
}
.calendar-change-month-back:active {
    background: rgba(0,0,0,0);
}

.calendar-change-month-forward {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-right.png");
}

.calendar-change-month-forward:rtl {
    background-image: url("calendar-arrow-left.png");
}

.calendar-change-month-forward:hover {
     background-image: url("calendar-arrow-right.png");
}
.calendar-change-month-forward:active {
    background: rgba(0,0,0,0);
}

.datemenu-date-label {
    padding: .2em 2.75em;
    font-size: 10pt;
    color: #9370D8;
    font-weight: bold;
}

.calendar-day-base {
    font-size: 7.5pt;
    text-align: center;
    width: 2.4em;
    height: 2.4em;
}

.calendar-day-base:hover {
    background-color: rgba(128,0,128,0.5);
    font-weight: bold;
    color: #fff;
    border-radius: 6px;
    font-weight: bold;
}

.calendar-day-base:active {
    background-color: rgba(128,0,128,0.8);
    font-weight: bold;
    color: #fff;
    border-radius: 6px;
    font-weight: bold;
}

.calendar-day-heading {
    color: #800080;
    padding-top: 1em;
}

.calendar-week-number {
    color: #800080;
    font-weight: bold;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
    border-top-width: 0px;
    border-left-width: 0px;
}
.calendar-day-top {
    border-top-width: 1px;
}
.calendar-day-left {
    border-left-width: 1px;
}

.calendar-work-day {
    color: #80080;
}

.calendar-nonwork-day {
    color: #800080;
}

.calendar-today {
    background-color: #800080;
    border: 1px #9370D8;
    font-weight: bold;
    color: #222;
    border-radius: 6px;
}

.calendar-other-month-day {
     color: rgba(255,0,0,0.5);
}

.calendar-day-with-events {
    background-color: rgba(255,255,255,1);
    border: 2px #6495ed;
    font-weight: bold;
    color: #555;
    border-radius: 6px;
}

.events-header-vbox {
    spacing: 6pt;
    padding-right: 1.75em;
}

.events-header-vbox:rtl {
    padding-right: 0em;
    padding-left: 1.75em;
}

.events-header-hbox {
    padding: 0.3em;
}

.events-day-header {
    font-size: 10.5pt;
    font-weight: bold;
    color:  rgba(255,165,0,0.5);
    padding-left: 1.8em;
    padding-top: 0.8em;
}

.events-day-header:rtl {
    padding-left: 0em;
    padding-right: 0.3em;
}

.events-day-dayname {
    font-size: 9pt;
    color: #555;
    text-align: left;
}

.events-day-dayname:rtl {
    text-align: right;
}

.events-day-time {
    font-size: 9pt;
    color: #555;
    text-align: right;
}

.events-day-time:rtl {
    text-align: left;
}

.events-day-task {
    font-size: 9pt;
    color: #444;
}

.events-day-name-box {
    min-width: 15pt;
}

.events-time-box {
    min-width: 53pt;
    padding-right: 6pt;
}

.events-time-box:rtl {
    padding-right: 0px;
    padding-left: 6pt;
}

.events-event-box {
}

.url-highlighter {
    link-color: #6495ed;
}

/* Message Tray */
#message-tray {
    border-image: url("traybottom.png") 0 3000 0 0 repeat;
    font-weight:bold;
    font-size: 9.5pt;
    height: 36px;

}

#notification {
    font-size: 9.5pt;
    border-radius: 12px;
    background-gradient-direction: vertical;
    background-gradient-start: #9370D8;
    background-gradient-end:#800080;
    border: 3px rgba(128,0,128,0.8);
    padding: 8px 8px 4px 8px;
    spacing-rows: 10px;
    spacing-columns: 10px;
    width: 34em;
}

#notification.multi-line-notification {
    padding-bottom: 8px;
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
   taken into account during allocation, so its height ends up being limited by the height
   of the content in the other rows. To avoid showing a stretched image, we set the minimum
   height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
    min-height: 159px;
}

.summary-boxpointer {
    -arrow-border-radius: 12px ;
    -arrow-background-color: rgba(255,255,255,1);
    -arrow-border-width: 3px;
    -arrow-border-color: rgba( 128,0,128,0.6);
    -arrow-base: 25px;
    -arrow-rise: 10px;
}

.summary-boxpointer #notification {
    border-radius: 9px;
    border: 0px;
    background: rgba(255,255,255,1) !important;
    padding-bottom: 12px;
}

.summary-boxpointer #summary-right-click-menu {
    font-size: 9.5pt;
    color:#222;
    padding-top: 12px;
    padding-bottom: 12px;
}

#summary-notification-stack-scrollview {
    max-height: 18em;
    padding-top: 6px;
    padding-bottom: 6px;
}

#summary-notification-stack-scrollview > .top-shadow, #summary-notification-stack-scrollview > .bottom-shadow {
    height: 1em;
}

#summary-notification-stack-scrollview:ltr {
    padding-right: 8px;
}

#summary-notification-stack-scrollview:rtl {
    padding-left: 8px;
}

#notification-scrollview {
    max-height: 10em;
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
    height: 1em;
}

#notification-scrollview:ltr > StScrollBar {
    padding-left: 6px;
}

#notification-scrollview:rtl > StScrollBar {
    padding-right: 6px;
}

#notification-body {
    spacing: 5px;
}

#notification-actions {
    spacing: 10px;
}

.notification-button {
   font-size:10pt;
    text-shadow: 1px 1px 1px 1px #fff;
    padding: 2px 14px;
}

.notification-button:focus {
    color: #000;
}

.notification-icon-button {
   border: 2px rgba(0,0,0,0);
    border-radius: 5px;
    padding: 5px;
}

.notification-icon-button:focus {
    padding: 5px;
}

.notification-icon-button > StIcon {
    icon-size: 36px;
}

.hotplug-transient-box {
    spacing: 6px;
    padding: 2px 72px 2px 12px;
}

.hotplug-notification-item {
    padding: 2px 10px;
    border-radius: 18px;
    font-size: 10.5pt;
}

.hotplug-notification-item:focus {
    padding: 1px 71px 1px 11px;
}

.hotplug-notification-item-icon {
    icon-size: 24px;
    padding: 2px 5px;
}

.hotplug-resident-box {
    spacing: 8px;
}

.hotplug-resident-mount {
    spacing: 8px;
    border-radius: 4px;

    color: #222;
}

.hotplug-resident-mount:hover {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(255, 165, 0, 0.5);
    background-gradient-end: rgba(255, 165, 0, 0.5);

    color: #333;
}

.hotplug-resident-mount-label {
    color: inherit;
    padding-left: 6px;
}

.hotplug-resident-mount-icon {
    icon-size: 24px;
    padding-left: 6px;
}

.hotplug-resident-eject-icon {
    icon-size: 16px;
}

.hotplug-resident-eject-button {
    padding: 7px;
    border-radius: 5px;
    color: #ccc;
}

.chat-received {
    color: #00ff00;
    font-size: 12pt;
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(255, 255, 255, 0.2);
    background-gradient-end: rgba(128,0,128, 0);
    border: 2px royalblue;
    border-radius: 12px;
    padding-left: 4px;
}

.chat-log-message {
    color: #ffffff;
}

.chat-group-sent, .chat-group-meta {
    padding: 8px 0;
}

.chat-sent {
    color: #ffffff;
    font-size: 12pt;
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(255, 255, 255, 0);
    background-gradient-end: rgba(255, 255, 255, 0.2);
    border: 2px  rgba(255,165,0,0.5);
    border-radius: 12px;
    padding-left: 4px;
}

.chat-received:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.chat-sent {
    padding-left: 18pt;
    border-radius: 4px;
    color: #7E7E7E;
}

.chat-sent:rtl {
    padding-left: 0px;
    padding-right: 18pt;
}

.chat-meta-message {
    padding-left: 4px;
    border-radius: 4px;
    font-size: 9pt;
    color: #333;
}

.chat-meta-message:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.subscription-message {
    font-style: italic;
}

#notification StEntry {
     padding: 4px;
    border-radius: 4px;
    border: 1px solid #565656;
    color: #333;
    background-color: #404040;
    caret-color: #333;
    caret-size: 1px;
}

#notification StEntry:focus {
     border: 1px solid #3a3a3a;
    color: #545454;
    background-color: #e8e8e8;
    caret-color: #545454;
    box-shadow: 0px 0px 6px 2px rgba(255,255,255,0.9);
}

/* The spacing and padding on the summary is tricky; we want to keep
 * the icons from touching each other or the edges of the screen, but
 * we also want them to be "Fitts"-y with respect to the edges, so the
 * summary area's bottom and right padding must actually be part of
 * the icons. However, we can't put *all* of the padding into the
 * icons, because then the summary would be 0x0 when there were no
 * icons in it, and so you wouldn't be able to hover over it to
 * activate it.
 *
 * Also, the spacing between a summary-source's icon and title is
 * actually specified as padding-left in source-title, because we
 * want the spacing to collapse along with the title.
 */
#summary-mode {
    padding: 2px 0px 0px 4px;
    height: 36px;
}

#summary-mode:rtl {
    padding: 2px 4px 0px 0px;
}

.summary-source-button {
    color: #fff;
    border-radius: 6px;
    text-shadow: black 0px 2px 2px;
     border-top: 3px solid rgba(255,255,255,0);
     border-bottom: 6px solid rgba(255,255,255,0);
}

.summary-source-button:ltr {
    padding-right: 12px;
}

.summary-source-button:selected .summary-source {
    background: #1c2021;
     border-radius: 6px;
     box-shadow: inset  0 -1px 0 rgba(255,255,255, 0.4)
}

.summary-source-button:expanded:selected .summary-source {
   background-image: none;
    border-image: none;
}

.summary-source-button:expanded:selected {
    background-image: none;
    border-image: none;
}


.summary-source-button:rtl {
    padding-left: 12px;
}

.summary-source-button:last-child:ltr {
    padding-right: 12px;
}

.summary-source-button:last-child:rtl {
    padding-left: 12px;
}

.summary-source {
    padding-right: 4px;
    padding-left: 4px;
}

.summary-source-counter {
    color: white;
    background-color: #3465A4;
    text-shadow: black 1px 1px 0;
    font-size: 9pt;
    border-radius: 1em;
    min-height: 1em;
    min-width: 1em;
}

.source-title {
    font-size: 9pt;
    font-weight: bold;
    padding-left: 4px;
}

.source-title:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

/* App Switcher */
#altTabPopup {
    padding: 8px;
    spacing: 16px;
}

.switcher-list {
    background-gradient-direction: vertical; 
    background-gradient-start: rgba(147,112,216,0.8);
    background-gradient-end: rgba(128,0,128,0.5);
    border: 5px rgba(128,0,128,0.6);
    box-shadow:  inset 0px 1px 2px 1px rgba(0,0,0,0.4);
    border-radius: 24px;
    padding: 20px;

    font-size: 9.5pt;
    color: #222;
}

.switcher-list-item-container {
    spacing: 8px;
}

.thumbnail-scroll-gradient-left {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 1.0);
    background-gradient-end: rgba(51, 51, 51, 0);
    border-radius: 24px;
    border-radius-topright: 0px;
    border-radius-bottomright: 0px;
    width: 60px;
}

.thumbnail-scroll-gradient-right {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 0);
    background-gradient-end: rgba(51, 51, 51, 1.0);
    border-radius: 24px;
    border-radius-topleft: 0px;
    border-radius-bottomleft: 0px;
    width: 60px;
}

.switcher-list .item-box {
    padding: 8px;
    border-radius: 8px;
}

.switcher-list .item-box:outlined {
    padding: 6px;
    border: 2px solid royalblue;
}

.switcher-list .item-box:selected {
    background:  rgba(255,165,0,0.5);
}

.switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail {
    width:  256px;
}

.switcher-list .separator {
    width: 1px;
    background: rgba(255,255,255,0.33);
}

.ripple-box {
    width: 200px;
    height: 200px;
    background-image: url("corner-ripple.png");
}

.switcher-arrow {
    border-color: rgba(0,0,0,2);
    color: #666;
}

.switcher-arrow:highlighted {
    border-color: rgba(0,0,0,1);
    color: #999;
}

/* Workspace Switcher */
.workspace-switcher-group {
    padding: 12px;
}

.workspace-switcher-container {
    border-image: url("workspaceswitcher.png");
    border: 5px rgba(128,0,128,0.8);
    box-shadow:  inset 0px 1px 2px 1px rgba(0,0,0,0.4);
    padding: 20px;
}

.workspace-switcher {
    background:rgba(0,0,0,0);
    box-shadow:  inset 0px 1px 2px 1px rgba(0,0,0,0.7);
    border-radius: 12px;
    padding: 0px;
    spacing: 8px;
}

.ws-switcher-active-up {
    height: 100px;
    border: 0px;
    background-gradient-direction: vertical; 
    background-gradient-start: rgba(147,112,216,0.7);
    background-gradient-end: rgba(128,0,128,0.3);
    border-image: url("ws-switch-arrow-up.svg");
    border-radius: 8px;
}

.ws-switcher-active-down {
    height: 100px;
    border: 0px;
    background-gradient-direction: vertical; 
    background-gradient-start: rgba(128,0,128,0.3);
    background-gradient-end: rgba(147,112,216,0.7);
    border-image: url("ws-switch-arrow-down.svg");
    border-radius: 8px;
}

.ws-switcher-box {
    height: 96px;
    border: 2px solid rgba(85,85,85,0.5);
    background: transparent;
    border-radius: 8px;
}

/* Modal Dialogs */
.modal-dialog {
    font-size: 12pt;
    border-radius: 24px;
    background:rgba(255,255,255,1);
    border: 5px rgba(17,18,21,0.6);
    box-shadow:  inset 0px 1px 2px 1px rgba(0,0,0,0.7);
    color: #222;

    padding-right: 42px;
    padding-left: 42px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.modal-dialog-button-box {
    spacing: 21px;
}

.modal-dialog-button {
   margin-left: 10px;
    margin-right: 10px;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 0px 0px #fff;
    color: #2e3436;
    font-size:10pt;
    text-shadow: 0px 0px 1px 0px #fff;
}

.modal-dialog-button:active,
.modal-dialog-button:pressed {
    background-gradient-direction: vertical; 
    background-gradient-start: #b1b1b1;
    background-gradient-end: #c4c4c4;
    box-shadow: inset  0.5px 1px rgba(0,0,0,0.4);

}

.modal-dialog-button:hover,
.modal-dialog-button:focus {
    color: #000;
    background-gradient-direction: vertical; 
    background-gradient-start: #f6f6f6;
    background-gradient-end: #e6e6e6;
}

.modal-dialog-button:disabled {
    color: rgb(60, 60, 60);
}

.modal-dialog-button:focus {
    padding: 3px 31px 4px;
}

/* Run Dialog */
.run-dialog-label {
    font-size: 9pt;
    color: #800080;
}

.run-dialog-error-label {
    font-size: 9pt;
    font-weight:bold;
    color: red;
}

.run-dialog-error-box {
    padding-top: 15px;
    spacing: 5px;
}

.run-dialog-entry {
    font-size: 9pt;
    font-weight: bold;
    border: 1px #800080;
    border-radius: 4px;
    width: 23em;
    color: #800080;
}

.run-dialog {
    border-radius: 16px;

    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.lightbox {
    background-color: rgba(0, 0, 0, 0.4);
}

/* End Session Dialog */
.end-session-dialog {
    spacing: 42px;
}

.end-session-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: #800080;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 30px;
}

.end-session-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.end-session-dialog-description {
    font-size: 10pt;
    color: #800080;
    padding-left: 17px;
    width: 28em;
}

.end-session-dialog-description:rtl {
    padding-right: 17px;
}

.end-session-dialog-logout-icon {
    border: 2px solid #800080;
    border-radius: 5px;
    width: 32px;
    height: 32px;
}

.end-session-dialog-shutdown-icon {
    width: 32px;
    height: 32px;
}

.end-session-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 42px;
    padding-left: 49px;
    padding-right: 32px;
}

.end-session-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.end-session-dialog-app-list-item {
    color: #ccc;
}

.end-session-dialog-app-list-item:hover {
    color: #222;
}

.end-session-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.end-session-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.end-session-dialog-app-list-item-name {
    font-size: 10pt;
}

.end-session-dialog-app-list-item-description {
    font-size: 8pt;
    color: #333;
}

/* ShellMountOperation Dialogs */
.shell-mount-operation-icon {
    icon-size: 48px;
}

.mount-password-reask {
    color: red;
}

.show-processes-dialog,
.mount-question-dialog {
    spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: #222;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
    font-size: 10pt;
    color: #333;
    padding-left: 17px;
    width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}

.show-processes-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.show-processes-dialog-app-list-item {
    color: #555;
}

.show-processes-dialog-app-list-item:hover {
    color: #444;
}

.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
    font-size: 10pt;
}

/* PolicyKit Authentication Dialog */
.polkit-dialog {
    /* this is the width of the entire modal popup */
    width: 500px;
}

.polkit-dialog-main-layout {
    spacing: 24px;
    padding: 10px;
}

.polkit-dialog-message-layout {
    spacing: 16px;
}

.polkit-dialog-headline {
    font-size: 12pt;
    font-weight: bold;
    color: #444;
}

.polkit-dialog-description {
 font-size: 10pt;
    color: #333;
}

.polkit-dialog-user-layout {
    padding-left: 10px;
    spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
    padding-left: 0px;
    padding-right: 10px;
}

.polkit-dialog-user-root-label {
    color: #000;
}

.polkit-dialog-password-label:ltr {
    padding-right: 0.5em;
}

.polkit-dialog-password-label:rtl {
    padding-left: 0.5em;
}

.polkit-dialog-password-entry {
    background-color: transparent;
    color: #800080;
    border: 2px #800080;
    border-radius: 5px;
}

.polkit-dialog-password-entry:focus {
    border: 2px solid #800080;
}

.polkit-dialog-error-label {
  font-size: 10pt;
    color: red;
    padding-bottom: 8px;
}

.polkit-dialog-info-label {
    font-size: 10pt;
    padding-bottom: 8px;
}

/* intentionally left transparent to avoid dialog changing size */
.polkit-dialog-null-label {
    font-size: 10pt;
    color: rgba(0,0,0,0);
    padding-bottom: 8px;
}

.network-dialog-show-password-checkbox {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10pt;
    color: #333;
    spacing: 10px;
}

.network-dialog-secret-table {
    spacing-rows: 15px;
}

/* Magnifier */

.magnifier-zoom-region {
    border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
    border-width: 0px;
}

/* On-screen Keyboard */

#keyboard {
    background: rgba(128,0,128,0.3);
}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 30px;
    min-width: 30px;
   background-gradient-direction: vertical;
    background-gradient-start: #484c51;
    background-gradient-end:#2d3036;
    font-size: 14pt;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #a0a0a0;
    color: white;
}

.keyboard-key:grayed {
   color: #808080;
   border-color: #808080;
}

.keyboard-key:checked,
.keyboard-key:hover {
     background: #64696d;
    border: 3px solid rgba(255,255,255,0.5);
}

.keyboard-key:active {
     background: #1c2021; 
}

.keyboard-subkeys {
    color: white;
    padding: 5px;
    -arrow-border-radius: 10px;
    -arrow-background-color: rgba(255,255,255,0.3);
    -arrow-border-width: 0px;
    -arrow-border-color: white;
    -arrow-base: 20px;
    -arrow-rise: 10px;
    -boxpointer-gap: 5px;
}
